<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>그린그린</string>
			<key>FooterText</key>
			<string>해당 앱의 기본 설정들을 표시합니다.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>이름입력가능</string>
			<key>Key</key>
			<string>name_preference</string>
			<key>DefaultValue</key>
			<string>기본값은 그린</string>
			<key>IsSecure</key>
			<false/>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>토글할래?</string>
			<key>Key</key>
			<string>enabled_preference</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
			<key>Key</key>
			<string>slider_preference</string>
			<key>DefaultValue</key>
			<real>0.5</real>
			<key>MinimumValue</key>
			<integer>0</integer>
			<key>MaximumValue</key>
			<integer>1</integer>
			<key>MinimumValueImage</key>
			<string></string>
			<key>MaximumValueImage</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>너의 이름은?</string>
			<key>DefaultValue</key>
			<string>그린</string>
			<key>Key</key>
			<string>title_identifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>색상 선택</string>
			<key>Key</key>
			<string>multivalue_identifier</string>
			<key>DefaultValue</key>
			<string>Green</string>
			<key>Titles</key>
			<array>
				<string>그린</string>
				<string>레드</string>
				<string>블루</string>
			</array>
			<key>Values</key>
			<array>
				<string>Green</string>
				<string>Red</string>
				<string>Blue</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>설명</string>
			<key>Key</key>
			<string>childpane_identifier</string>
			<key>File</key>
			<string>Description</string>
		</dict>
	</array>
</dict>
</plist>
